@use "@/styles/colors.scss";

$schema: (
  primary: #0070f3,
  secondary: #ff4081,
);

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: map-get($schema, primary);
}
